<!DOCTYPE html>
<html>
  <head>
    <title>TODO LIST</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <title><%= `${title}`%></title>
    </header>
  </body>
</html>