<html>
  <form class="form-content" method="POST" action="/form-data">
    <label for="item">TODO LIST</label>
    <input type="text" name="item" placeholder="Item Description" />
    <!-- //the string value above of name (item) is what is read -->
    <button type="submit">Submit</button>
  </form>
</html>